.main{
    background-image: url('../../../images/5.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:calc(100vh - 111px);
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#loginForm{
    width: 85%;
    padding-left: 15%;
}
.heading{
    margin-bottom: 20px;
    color:#af28fe;
    text-align: center;
}

.invalid{
    border:1px solid red;
}
#loginInput{
    color:#af28fe;
}
.loginButton{
    background-color: #af28fe;
    border-color: #af28fe;
}
.loginButton:hover{
    background-color:#fff;
    border-color: #af28fe;
    color:indigo;
}
.loginLink{
    color: #ea87fe;
    text-decoration: none;
}
.loginLink:hover{
    color: #ea87fe;
}