.main{
    background-image: url('../../../images/4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height:calc(100vh - 122px);
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.heading{
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
}

.submitContainer{
    text-align: center;    
}
.invalid{
    border:2px solid rgb(105, 3, 3);
}
.contactButton{
    width: 20%;
    background-color: #b5379b;
    border-color: #b5379b;
}
.contactButton:hover{
    background-color: #faf9fa;
    border-color: #b5379b;
    color:#b5379b;
}
 