*{
    margin:0;
    padding:0;
}

.app{
    padding: 10px;
}
.activeLink{
    color:rgb(255, 0, 128);
    font-weight: bolder;
}
#ltegte{
    display:inline-block;
    width:25%;
}
#ltegte > span{
    display:inline-block;
    width: 100%;
}
 
@media (min-width: 1200px){
    #task-inner-padding{
        padding: 4px;
    }
}